body {
  margin: 0px;
  padding: 0px;
  background-color: #f5f9f9;
  font-family: "IBM Plex Sans", sans-serif;
}

nav {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #265c73;
  padding: 15px;
}
nav p {
  font-size: 3em;
  padding-left: 20px;
}
nav .icons {
  display: flex;
  gap: 15px;
  /* button{
      background: none;
      border-style: none;
  }*/
}
nav .icons button {
  background: none;
  border-style: none;
}

article {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: none;
  color: #265c73;
  padding-top: 60px;
  padding-left: 35px;
  padding-right: 35px;
  gap: 35px;
  /*
  .inpact-section {
          display: flex;
          flex-direction: column;
          padding: 50px;
          gap: 25px;
      }
   */
}
article h1 {
  font-size: 3em;
}
article p {
  font-size: 1.2em;
  text-align: justify;
  padding-bottom: 20px;
}
article button {
  background: none;
  border-style: none;
}
article button {
  width: 18vw;
  padding: 15px 0px;
  background-color: #265c73;
  color: #f5f9f9;
  font-size: 1.2em;
  border-radius: 20px;
}
article button:hover {
  transform: scale(1.1);
}
article .image-section {
  background-color: #265c73;
  margin: 10px;
  border-radius: 20px;
  -o-object-fit: fill;
     object-fit: fill;
}
article .image-section img {
  width: 30vw;
  padding: 10px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

section {
  width: auto;
  height: auto;
  padding: 35px;
}
section h2 {
  display: flex;
  justify-content: center;
  color: #265c73;
  font-size: 2em;
}
section .paint-animals, section .paint-figures {
  padding-bottom: 60px;
  align-items: center;
}
section .paint-animals h2, section .paint-figures h2 {
  font-weight: 300;
  text-align: center;
  padding-bottom: 40px;
}
section .paint-animals .card-section, section .paint-figures .card-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: none;
  flex-wrap: wrap;
  gap: 80px;
  padding-left: 35px;
  padding-right: 35px;
}
section .paint-animals .product-card, section .paint-figures .product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18vw;
  background-color: #94bbc4;
  color: #265c73;
  padding: 20px;
  border-radius: 10px;
}
section .paint-animals .product-card .icon, section .paint-figures .product-card .icon {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 12px;
}
section .paint-animals .product-card .product-image img, section .paint-figures .product-card .product-image img {
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  border-radius: 10px;
}
section .paint-figures .product-card {
  background-color: #427a98;
  color: #f5f9f9;
}

.info-section .about-us {
  padding-bottom: 60px;
}
.info-section .about-us h2 {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 60px;
}
.info-section .about-us .mission-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.info-section .about-us .mission-section .earth, .info-section .about-us .mission-section .innovation {
  width: 45vw;
  display: flex;
  align-items: center;
}
.info-section .about-us .mission-section .earth img, .info-section .about-us .mission-section .innovation img {
  width: 18vw;
  filter: grayscale(1);
  -o-object-fit: cover;
     object-fit: cover;
  padding-left: 15px;
}
.info-section .about-us .mission-section .earth p, .info-section .about-us .mission-section .innovation p {
  text-align: start;
  font-size: 1em;
  color: #265c73;
  font-weight: bold;
}
.info-section .gallery h2 {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 60px;
}
.info-section .gallery .gallery-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.info-section .gallery .gallery-section img {
  width: 30vw;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.info-section .gallery .gallery-section img:hover {
  transform: scale(1.1);
}
.info-section .location h2 {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 60px;
}
.info-section .location .map {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.info-section .location .map img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding-bottom: 30px;
  border-radius: 20px;
}
.info-section .location h3 {
  font-size: 1.2em;
  color: #265c73;
  margin: 0;
  padding-bottom: 10px;
}
.info-section .location p {
  font-size: 1em;
  color: #265c73;
  margin: 0;
}

footer {
  background-color: #014758;
  width: 100%;
  height: auto;
}
footer h3 {
  padding: 30px 40px;
  color: #f5f9f9;
}
footer p {
  padding: 0px 40px;
  color: #f5f9f9;
}
footer .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-bottom: 30px;
}/*# sourceMappingURL=main.css.map */